<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>register</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
          <form [formGroup]="forma">
              <ion-list>
                <ion-item>
                  <ion-label floating>
                    Employee No.
                  </ion-label>
                  <ion-input type="text" formControlName="Reg" [(ngModel)]="username">
                  </ion-input>
                </ion-item>
                <ion-item *ngIf="Reg.hasError('required') && Reg.touched">
                  <p style="color:red">Registration No. is required</p>
                </ion-item>
                <ion-item *ngIf="( Reg.hasError('minlength') || Reg.hasError('pattern') ) && Reg.touched && !Reg.hasError('required') ">
                  <p style="color:red">Invalid Registration No.</p>
                </ion-item>
            <ion-item><ion-label floating>
                Password
              </ion-label>
              <ion-input type="password"  formControlName="pass" [(ngModel)]="password">
              </ion-input>
            </ion-item>
           
              </ion-list>
              <button ion-button type="submit" (click)="register()" [disabled]="!forma.valid" class="b1">Submit</button>
            </form>
  </ion-content>
  