page-frontpage {

  .c1 {
    font-size: 15px !important;
    //padding: 20px;
  }

  .m1 {
    border-radius: 5px;
    box-shadow: 2px 1px 3px 2px #888888;
  }

  .i1 {
    width: auto;
    float: left;
    margin-left: -50%;
    height: auto;
    //max-height: 100%;
    padding-right: 10px;
  }

  .f1 {
    padding-top: 30px;
    font-size: 15px;
  }

  .fine {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 70px;
    top: 100px;
  }

  .fi {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 70px;
    top: 60px;
  }

  .icon {
    font-size: 30px;
  }

  .d1 {
    margin-top: -20px;
    padding-left: 190px !important;
  }

  .d2 {
    font-size: 15px;
    padding-left: 190px;
    margin-top: -30px;
  }

  .d3 {
  }
}